@import"../../constants";

.vcrnet-scheduledata {
    // Wir wollen die erste Auswahl mit den anderen Eingabefeldern synchronisieren.
    > div:last-child > div:last-child > label:first-child input {
        margin-left: 0;
    }

    > .vcrnet-editfield:not(:last-child) {
        margin-bottom: $formSpacing;
    }

    div.vcrnet-editfield:nth-of-type(4) {
        > :first-child {
            vertical-align: top;
        }

        > :last-child > span > span {
            display: inline-block;
            text-align: center;
            max-width: 7rem;
            margin: 0 4px;
        }
    }
}
