<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <runtime>
    <legacyCorruptedStateExceptionsPolicy enabled="true" />
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <probing privatePath="bin" />
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="8.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>

  <system.web>
    <httpRuntime targetFramework="4.5.1" waitChangeNotification="8640000" maxWaitChangeNotification="8640000" requestPathInvalidCharacters="" />
    <authentication mode="Windows" />
    <trace enabled="true" />
    <compilation debug="true" targetFramework="4.5.1" />
    <hostingEnvironment shadowCopyBinAssemblies="false" />
    <pages validateRequest="false" controlRenderingCompatibilityVersion="4.0" />
    <profile defaultProvider="VCRNETProvider" enabled="true" automaticSaveEnabled="false">
      <properties>
        <add name="Television" type="System.Boolean" defaultValue="true" />
        <add name="UseTTX" type="System.Boolean" defaultValue="true" />
        <add name="UseAC3" type="System.Boolean" defaultValue="true" />
        <add name="UseMP2" type="System.Boolean" defaultValue="true" />
        <add name="FreeTV" type="System.Boolean" defaultValue="true" />
        <add name="PayTV" type="System.Boolean" defaultValue="true" />
        <add name="Radio" type="System.Boolean" defaultValue="true" />
        <add name="MaxRecentChannels" type="System.Int32" defaultValue="10" />
        <add name="EPGPostTime" type="System.Int32" defaultValue="30" />
        <add name="EPGPreTime" type="System.Int32" defaultValue="15" />
        <add name="EPGEntries" type="System.Int32" defaultValue="20" />
        <add name="DaysToShow" type="System.Int32" defaultValue="10" />
        <add name="RecentChannels" type="System.Collections.Specialized.StringCollection" serializeAs="Xml" />
        <add name="UseSubTitles" type="System.Boolean" defaultValue="true" />
        <add name="BackToEPG" type="System.Boolean" defaultValue="false" />
        <add name="NoHibernateOnAbort" type="System.Boolean" defaultValue="true" />
        <add name="GuideFavorites" type="System.String" />
      </properties>
    </profile>
  </system.web>

  <location path="App_Data">
    <system.web>
      <authorization>
        <deny users="*" />
      </authorization>
    </system.web>
  </location>
  <location path="Apps">
    <system.web>
      <authorization>
        <deny users="*" />
      </authorization>
    </system.web>
  </location>
  <location path="bin">
    <system.web>
      <authorization>
        <deny users="*" />
      </authorization>
    </system.web>
  </location>
  <location path="de">
    <system.web>
      <authorization>
        <deny users="*" />
      </authorization>
    </system.web>
  </location>
  <location path="Jobs">
    <system.web>
      <authorization>
        <deny users="*" />
      </authorization>
    </system.web>
  </location>
  <location path="Source">
    <system.web>
      <authorization>
        <deny users="*" />
      </authorization>
    </system.web>
  </location>
  <location path="Properties">
    <system.web>
      <authorization>
        <deny users="*" />
      </authorization>
    </system.web>
  </location>
  <location path="Tools">
    <system.web>
      <authorization>
        <deny users="*" />
      </authorization>
    </system.web>
  </location>
  <location path="Browser PlugIns">
    <system.web>
      <authorization>
        <deny users="*" />
      </authorization>
    </system.web>
  </location>
  <location path="Server Extensions">
    <system.web>
      <authorization>
        <deny users="*" />
      </authorization>
    </system.web>
  </location>
  <location path="AspNetTemp">
    <system.web>
      <authorization>
        <deny users="*" />
      </authorization>
    </system.web>
  </location>
</configuration>