@import "../../../content/vars";

.vcrnet-editfield {
    display: block;

    // Das erste Element eines Eingabefeldes ist immer die Bezeichnung, die in einer festen Breite ausgegeben wird.
    > div:first-child {
        display: inline-block;
        width: 250px;
    }
}
