@import "../../../content/vars";

.vcrnet-editexception {
    > table {
        width: 100%;

        > tbody > tr {
            > td:first-child {
                width: 10rem;
            }

            > td:nth-child(2) {
                width: 12rem;
            }
        }
    }
}
