<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <runtime>
    <legacyCorruptedStateExceptionsPolicy enabled="true" />
  </runtime>

  <system.diagnostics>
    <switches>
      <add name="ConsumerTrace" value="0"/>
      <add name="TunerTrace" value="0"/>
      <add name="StreamOptimizerTrace" value="0"/>
      <add name="ScannerTrace" value="0"/>
    </switches>
  </system.diagnostics>
</configuration>