@import "../../../content/vars";

.vcrnet-admin-directories {
    > div > select {
        width: 40rem;
        height: 10rem;
    }

    form > .vcrnet-editfield > div:first-child {
        width: auto;
    }
}
