.vcrnet-admin-directories {
    > div > .jmslib-editmultilist {
        margin-bottom: 4px;
        width: 45rem;
    }

    > form > fieldset {
        margin-bottom: 10px;

        .vcrnet-editfield {
            > div:first-child {
                width: 12rem;
            }

            .jmslib-editlist {
                width: 31rem;
            }
        }

        > div:last-child > .jmslib-command {
            margin-top: 8px;

            &:not(:last-child) {
                margin-right: 4px;
            }
        }
    }

    table.vcrnet-admin-pattern > thead > tr > td {
        font-weight: bold;
    }
}
