@import "../../constants";

.vcrnet-admin-sources {
    > form .vcrnet-editfield {
        margin-bottom: $editLineSpacing;
        
        > div:first-child {
            margin-right: 4px;
        }
    }

    > div:first-of-type {
        margin-bottom: $editLineSpacing;
    }
}
