@import "../../content/vars";

.vcrnet-planrow {
    > td {
        &.vcrnet-planrow-name {
            position: relative;

            > div {
                display: inline-block;

                &:first-child {
                    margin-right: 40px;
                }

                &:last-child {
                    position: absolute;
                    right:0;
                }
            }
        }
    }
}
