<?xml version="1.0" encoding="UTF-8"?>

<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">

  <?include ..\..\..\..\SetupHelper\ManufacturerSettings.wxi ?>

  <Fragment>

    <!-- Verzeichnisstruktur -->
    <Directory Id="TARGETDIR" Name="SourceDir">

      <Directory Id="ProgramFilesFolder">
        <Directory Id="ManufacturerFolder" Name="$(var.Manufacturer)">

          <Directory Id="INSTALLFOLDER" Name="DVB.NET Viewer 4.2">

            <Directory Id="JMS.DVB.Viewer.Binaries" />
            <Directory Id="JMS.DVB.Viewer.Documents" />
            <Directory Id="DVBNETViewer.Binaries" />

            <!-- Deutsche Sprachvariante -->
            <Directory Id="German" Name="de"/>

            <!-- Quellcode (optional) -->
            <Directory Id="SOURCES" Name="Sources">
              <Directory Id="JMS.DVB.Viewer.Sources" Name="ViewerControl" />
              <Directory Id="JMS.DVB.Viewer.Content" Name="ViewerControl" />
              <Directory Id="DVBNETViewer.Sources" Name="Application" />
              <Directory Id="DVBNETViewer.Content" Name="Application" />
            </Directory>

          </Directory>
        </Directory>
      </Directory>

      <!-- Menüeinträge -->
      <Directory Id="ProgramMenuFolder">
        <Directory Id="ShortCutFolder" Name="DVB.NET 4.2" />
      </Directory>
    
    </Directory>

  </Fragment>
</Wix>