<?xml version="1.0" encoding="UTF-8"?>

<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">

  <Fragment>

    <Component Id="Registry" Directory="TARGETDIR" Guid="1b3596cf-7d46-463f-a68c-d9f7f0351b4e">

      <RegistryValue Root="HKCR" Key="Applications\DVBNETViewer5.exe\shell\open\command" Type="string" Value='"[INSTALLFOLDER]DVBNETViewer5.exe" "/FILE=%1"'/>
      <RegistryValue Root="HKCR" Key="dvbnet5" Type="string" Value='URL:DVB.NET / VCR.NET Viewer 5.0'/>
      <RegistryValue Root="HKCR" Key="dvbnet5" Name="URL Protocol" Type="string" Value=''/>
      <RegistryValue Root="HKCR" Key="dvbnet5\DefaultIcon" Type="string" Value='[INSTALLFOLDER]DVBNETViewer5.exe'/>
      <RegistryValue Root="HKCR" Key="dvbnet5\shell\open\command" Type="string" Value='"[INSTALLFOLDER]DVBNETViewer5.exe" "%1"'/>

    </Component>

  </Fragment>

</Wix>