<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="DVBNETAdmin.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <probing privatePath="Administration PlugIns"/>
    </assemblyBinding>
  </runtime>
  <system.diagnostics>
    <switches>
      <add name="ConsumerTrace" value="0"/>
      <add name="TunerTrace" value="0"/>
      <add name="StreamOptimizerTrace" value="0"/>
      <add name="ScannerTrace" value="0"/>
      <add name="BDATrace" value="0"/>      
    </switches>
  </system.diagnostics>
  <userSettings>
    <DVBNETAdmin.Properties.Settings>
      <setting name="Version" serializeAs="String">
        <value>0.0</value>
      </setting>
    </DVBNETAdmin.Properties.Settings>
  </userSettings>
</configuration>