@import "../command/button";

.jmslib-editbuttonlist {
    display: inline-block;
    margin: 0 4px;

    > div {
        &[data-jmslib-checked=yes] {
            font-weight: bold;
        }
    }
}
