<?xml version="1.0" encoding="UTF-8"?>

<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">

  <?include ..\..\..\..\SetupHelper\ManufacturerSettings.wxi ?>

  <Fragment>

    <!-- Verzeichnisstruktur -->
    <Directory Id="TARGETDIR" Name="SourceDir">

      <Directory Id="ProgramFilesFolder">
        <Directory Id="ManufacturerFolder" Name="$(var.Manufacturer)">

          <Directory Id="INSTALLFOLDER" Name="DVB.NET 4.3">
            <Directory Id="JMS.DVB.CardServer.Binaries" />

            <Directory Id="JMS.DVB.CardServerCore.Binaries" Name="RunTime" />
            <Directory Id="JMS.DVB.CardServerCore.Documents" Name="RunTime" />

            <Directory Id="LibraryBinaries" Name="RunTime">
              <Directory Id="LibraryGerman" Name="de" />
            </Directory>

            <Directory Id="CardServerTester.Binaries" Name="Tools" />

            <Directory Id="ToolsBinaries" Name="Tools">
              <Directory Id="ToolsGerman" Name="de" />
            </Directory>

            <Directory Id="SourceFolder" Name="Sources">
              <Directory Id="CardServerSources" Name="Card Server">
                <Directory Id="JMS.DVB.CardServerCore.Sources" Name="CardServerCore" />
                <Directory Id="JMS.DVB.CardServerCore.Content" Name="CardServerCore" />
                <Directory Id="JMS.DVB.CardServer.Sources" Name="CardServer" />
                <Directory Id="JMS.DVB.CardServer.Content" Name="CardServer" />
                <Directory Id="CardServerTester.Sources" Name="Test Application" />
                <Directory Id="CardServerTester.Content" Name="Test Application" />
              </Directory>
            </Directory>
          </Directory>
        </Directory>
      </Directory>

    </Directory>

  </Fragment>
</Wix>