<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
</head>
<body>
    <div>
        <div id="template">
            <h2>Regeln für die Planung von Aufzeichnungen</h2>
            <div>
                Der VCR.NET Recording Service verwendet nach der Installation ein festes Regelwerk zur Planung von
                        Aufzeichnungen für den Fall, dass mehrere DVB.NET Geräteprofile verwendet werden. Hier ist es 
                        möglich, dieses Regelwerk anzupassen - auf eigene Gefahr, versteht sich.
                        <div class="inlineHelp">
                            <h3>Erläuterungen zur Bedienung</h3>
                            <div>
                                <p>
                                    Für die Aufzeichnungsplanung ermittelt der VCR.NET Recording Service in einer
                                    ersten Phase Zeitbereiche mit sich überlappenden Aufzeichnungen. Der Zeitraum
                                    eines solchen Bereiches definiert sich durch den Startzeitpunkt der als erstes
                                    beginnenden Aufzeichnung und dem Endzeitpunkt der als letztes endenden Aufzeichnung
                                    darin. Zu jedem Zeitpunkt in einem Bereich ist mindestens eine Aufzeichnung aktiv.
                                    Alle anderen Aufzeichnungen, die nicht im Bereich erfasst werden, beginnen entweder
                                    frühestens am Endzeitpunkt oder enden spätestens am Startzeitpunkt.
                                </p>
                                <p>
                                    Für jeden Bereich berechnet VCR.NET in der aktuellen Implementierung alle möglichen
                                    Zuordnungen von Aufzeichnungen zu Geräten - dieses Vorgehen ist bei sehr vielen 
                                    insbesondere gleichartigen Geräten nicht sonderlich clever und wird sich in zukünftigen
                                    Versionen sicher ändern müssen. Alle diese Zuordnungen werden nach einem
                                    Regelwerk bewertet und die dadurch definierte beste Zuordnung zur Aufzeichnung verwendet.
                                    Sind mehrere Zuordnungsvarianten gemäß den Regeln gleichwertig als beste Alternative
                                    bewertet so wird eine Zuordnung zufällig ausgewählt.
                                </p>
                                <p>
                                    Hier in der Konfiguration kann durch eine einfache Abfolge von Regeln die Bewertung
                                    einer Zuordnung relativ zu einer anderen festgelegt werden. Eine Regel hat dabei immer
                                    das Format <i>Eigenschaft:Ordnung</i> - Leerzeilen und Zeichen, die auf ein # folgen 
                                    werden gänzlich ignoriert. 
                                </p>
                                <p>
                                    Das bei der Installation mitgelieferte Regelwerk verwendet folgende Einzelregeln - in
                                    der hier aufgeführten Reihenfolge:
                                </p>
                                <p>
                                    <i><strong>TotalCut:Min</strong></i> Die Eigenschaft <i>TotalCut</i> einer Zuordnung beschreibt die
                                        gesamte Verspätung von Aufzeichnungen. Wenn etwa zwei überlappende Aufzeichnungen
                                        auf verschiedenen Quellgruppen (aka <i>Transponder</i>) auf einem Gerät ausgeführt werden,
                                        so wird die zweite Aufzeichnung verspätet beginnen und somit eventuell die gewünschte
                                        Aufzeichnung beschnitten. Die Ordnung <i>Min</i> bedeutet hier, dass eine Zuordnung
                                        umso besser ist, je weniger Verspätung auftritt. Dies ist die erste und damit wichtigste
                                        Regel im Regelwerk von VCR.NET: soviel der gewünschten Aufzeichnungen ausführen, wie
                                        nur irgendwie möglich. Diese Regel alleine reicht eigentlich für die meisten Anwendungen
                                        aus. 
                                </p>
                                <p>
                                    <i><strong>ResourceCount:Min</strong></i> Mit der Eigenschaft <i>ResourceCount</i> meldet eine
                                        Zuordnung wie viele Geräte im Zeitbereich eingesetzt werden. VCR.NET sieht eine
                                        Zuordnung als umso besser an je weniger Geräte verwendet werden. Da es
                                        sich hier um die zweite Regel im Regelwerk handelt ist sie nur für die Zuordnungen
                                        relevant, die die geringsten Aufzeichnungsverluste aufweisen.
                                </p>
                                <p>
                                    <i><strong>ByPriority:Descending</strong></i> Mit dieser Regel wird die
                                        Bewertung der Zuordnungen verlassen und auf die Betrachtung einzelner Geräte
                                        gewechselt. Die Ordnung <i>Descending</i> bedeutet dabei, dass zuerst das DVB.NET
                                        Gerät mit der höchsten Aufzeichnungspriorität betrachtet wird, dann das mit der
                                        nächst niedrigeren und so weiter - für die andere Reihenfolge kann die Ordnung
                                        <i>Ascending</i> verwendet werden. Bei mehreren Geräten gleicher Priorität ist
                                        die Reihenfolge willkürlich und kann sich mit jedem Start des VCR.NET Dienstes
                                        ändern.
                                </p>
                                <p>
                                    <i><strong>RecordingCount:Max</strong></i> Für ein einzelnes Gerät meldet die Eigenschaft <i>RecordingCount</i>
                                    die Anzahl der diesem Gerät im Zeitbereich zugeordneten Aufzeichnungen. Die Ordnung
                                        <i>Max</i> bevorzugt hier Zuordnungen mit mehr Aufzeichnungen auf einem Gerät - eine
                                        rein willkürliche Entscheidung. In Kombination mit <i>ByPriority:Descending</i>
                                    bedeutet dies, dass zuerst einmal das Gerät mit der höchsten Aufzeichnungspriorität
                                        untersucht wird. Eine Zuordnung ist besser als eine andere, wenn auf diesem Gerät
                                        mehr Aufzeichnungen stattfinden - durch die Position im Regelwerk wird dieser Vergleich
                                        aber nur vorgenommen, wenn die beiden Zuordnungen bereits den minimalen Aufzeichnungsverlust
                                        haben und zudem auch eine minimale Gerätenutzung garantieren. Ist die Anzahl der Aufzeichnung
                                        auf dem höchstpriorisierten Gerät identisch, so wird das nächste untersucht und so weiter.
                                </p>
                                <p>
                                    <i><strong>ByPriority:End</strong></i> Beendet die Betrachtung einzelner Geräte und wechselt
                                        zurück in die Bewertung der Zuordnungen an sich. Das nach der Erstinstallation
                                        verwendete Regelwerk endet an dieser Stelle. Gibt es mehrere gleichwertige Zuordnungen,
                                        wird nun eine zufällig ausgewählt.
                                </p>
                                <pre class="codeSample">
# Der Verlust an Aufzeichnungszeit muss minimiert werden
TotalCut:Min

# Es sollen so wenige Geräte wie möglich verwendet werden
ResourceCount:Min

# Die einzelnen Geräte werden mit absteigender Aufzeichnungspriorität untersucht
ByPriority:Descending

    # Je mehr Aufzeichnungen auf einem Gerät, desto besser
    RecordingCount:Max

ByPriority:End</pre>
                                <p>Die im Folgenden aufgeführten Eigenschaften werden im Standardregelwerk nicht verwendet:</p>
                                <p>
                                    <i><strong>SourceCount</strong></i> Ermittelt für ein Gerät wie viele unterschiedliche Quellen
                                    (aka Sender) im Zeitbereich angesteuert werden. Mit der Ordnung <i>Min</i> würde so eine
                                    Planung bevorzugt bei der eine Quelle immer vom selben Gerät aufgezeichnet wird. Bei
                                    vielen gleichzeitigen Aufzeichnungen mit und ohne Überlappung ist diese Bewertung 
                                    allerdings recht unzuverlässig, obwohl sie in Einzelfällen durchaus Sinn macht.
                                </p>
                            </div>
                        </div>
                <textarea data-property="rules" rows="20" cols="100" />
                <div class="inlineHelp">
                    <h3>Erläuterungen zur Bedienung</h3>
                    <div>
                        <p>
                            Für eine Aktualisierung des Regelwerks muss die entsprechende Schaltfläche
                                    explizit betätigt werden. Dabei wird grundsätzlich ein Neustart des VCR.NET Dienstes
                                    durchgeführt, selbst wenn keine Veränderungen vorgenommen wurden.
                        </p>
                        <p>
                            Um wieder mit dem fest eingebauten Regelwerk wie nach der Erstinstallation 
                                    zu arbeiten muss einfach nur die Eingabe geleert und eine Aktualisierung
                                    ausgelöst werden.
                        </p>
                    </div>
                </div>
                <a id="updateRules" href="javascript:void(0)" class="editButtons">Ändern und neu Starten</a>
            </div>
        </div>
    </div>
</body>
</html>
