<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
</head>
<body>
    <div>
        <div id="template">
            <h2>Regeln für die Planung von Aufzeichnungen</h2>
            <div>
                <p>
                    Der VCR.NET Recording Service verwendet nach der Installation ein festes Regelwerk zur Planung von
                    Aufzeichnungen für den Fall, dass mehrere DVB.NET Geräteprofile verwendet werden. Hier ist es
                    möglich, dieses Regelwerk<a href="#faq;customschedule"><img class="linkImage" src="ui/images/info.png" /></a>
                    anzupassen - auf eigene Gefahr, versteht sich.
                </p>
                <textarea data-property="rules" rows="20" cols="100" />
                <div class="inlineHelp">
                    <h3>Erläuterungen zur Bedienung</h3>
                    <div>
                        <p>
                            Für eine Aktualisierung des Regelwerks muss die entsprechende Schaltfläche
                            explizit betätigt werden. Dabei wird grundsätzlich ein Neustart des VCR.NET Dienstes
                            durchgeführt, selbst wenn keine Veränderungen vorgenommen wurden.
                        </p>
                        <p>
                            Um wieder mit dem fest eingebauten Regelwerk wie nach der Erstinstallation
                            zu arbeiten muss einfach nur die Eingabe geleert und eine Aktualisierung
                            ausgelöst werden.
                        </p>
                    </div>
            </div>
        </div>
        <a id="updateRules" href="javascript:void(0)" class="editButtons">Ändern und neu Starten</a>
        </div>
        </div>
    </div>
</body>
</html>
