<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
</head>
<body>
    <ul>
        <li id="template" class="taskStarter">
            <fieldset>
                <legend class="invisible" />
                <div>
                    Es wird nun im Internet geprüft, ob eine neuere Version des VCR.NET Recording Service angeboten wird.
                <table class="versionTable">
                    <tr>
                        <td>Aktuell installierte Version:</td>
                        <td data-property="currentVersion">*</td>
                    </tr>
                    <tr>
                        <td>Aktuell verfügbare Version:</td>
                        <td data-property="hintClass" data-attribute="class" data-target="span"><span data-property="onlineVersion">*</span></td>
                    </tr>
                </table>
                </div>
            </fieldset>
        </li>
    </ul>
</body>
</html>
