<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
</head>
<body>
    <table>
        <tr id="template">
            <td>&nbsp;</td>
            <td colspan="5" class="spanExpando">
                <div id="innerTemplate" class="guideInPlan">
                    <fieldset>
                        <legend id="guideHeadline">Auszug aus der Programmzeitschrift</legend>
                        <table>
                            <tbody>
                                <tr>
                                    <td>Name:</td>
                                    <td data-property="name">*</td>
                                </tr>
                                <tr>
                                    <td>Sprache:</td>
                                    <td data-property="language">*</td>
                                </tr>
                                <tr>
                                    <td>Sender:</td>
                                    <td data-property="station">*</td>
                                </tr>
                                <tr>
                                    <td>Beginn:</td>
                                    <td data-property="displayStart">*</td>
                                </tr>
                                <tr>
                                    <td>Ende:</td>
                                    <td data-property="displayEnd">*</td>
                                </tr>
                                <tr>
                                    <td>Dauer:</td>
                                    <td data-property="displayDuration">*</td>
                                </tr>
                                <tr>
                                    <td>Freigabe:</td>
                                    <td data-property="ratings">*</td>
                                </tr>
                                <tr>
                                    <td>Inhalt:</td>
                                    <td data-property="categories">*</td>
                                </tr>
                                <tr>
                                    <td>Beschreibung:</td>
                                    <td data-property="short">*</td>
                                </tr>
                                <tr>
                                    <td>&nbsp;</td>
                                    <td data-property="long" class="guideDescription">*</td>
                                </tr>
                            </tbody>
                        </table>
                    </fieldset>
                </div>
            </td>
        </tr>
    </table>
</body>
</html>
