<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
</head>
<body>
    <table>
        <tr id="template">
            <td class="planItemMode"><a data-property="activeLink" data-attribute="href" data-clickevent="editActive">
                <img data-property="mode" data-property-required="true" data-format="ui/images/##value##.gif" data-attribute="src" src="ui/images/null.gif" /></a></td>
            <td class="startColumn" data-property="displayStart" data-target="a"><a data-property="guideLink" data-attribute="href" data-clickevent="showGuide">*</a></td>
            <td class="endColumn" data-property="displayEnd">*</td>
            <td class="sourceColumn" data-property="sourceName">*</td>
            <td class="nameColumn" data-property="name" data-target="#editAnchor"><a id="editAnchor" data-property="editLink" data-attribute="href">*</a></td>
            <td data-property="device">*</td>
            <td data-property="size">*</td>
        </tr>
    </table>
</body>
</html>
