<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
</head>
<body>
    <table>
        <tr id="template">
            <td>&nbsp;</td>
            <td colspan="5">
                <fieldset>
                    <legend class="invisible" />
                    <table class="currentTable">
                        <tbody>
                            <tr data-property="hideViewer" data-attribute="class">
                                <td colspan="2"><a data-property="viewLive" data-attribute="href" class="viewLink">Aktuelle Aufzeichnung anschauen</a></td>
                            </tr>
                            <tr data-property="hideViewer" data-attribute="class">
                                <td colspan="2"><a data-property="viewShift" data-attribute="href" class="viewLink">Aufzeichnung zeitversetzt anschauen</a></td>
                            </tr>
                            <tr data-property="hideViewer" data-attribute="class">
                                <td>&nbsp;</td>
                            </tr>
                            <tr data-property="hideTarget" data-attribute="class">
                                <td colspan="2">Aufzeichnung wird aktuell versendet, Empfänger ist 
                                <span data-property="streamTarget"><a href="#faq;streaming">
                                    <img class="linkImage" src="ui/images/info.png" /></a></span></td>
                            </tr>
                            <tr data-property="hideTarget" data-attribute="class">
                                <td colspan="2">&nbsp;</td>
                            </tr>
                            <tr>
                                <td>Endzeitpunkt:</td>
                                <td data-property="currentEndDisplay()">&nbsp;</td>
                            </tr>
                            <tr>
                                <td>Verbleibende Dauer:</td>
                                <td><span data-property="remainingMinutes"></span>&nbsp;Minute(n)</td>
                            </tr>
                            <tr>
                                <td colspan="2">
                                    <div id="slider" class="exceptionSlider"></div>
                                </td>
                            </tr>
                            <tr>
                                <td colspan="2">
                                    <a id="disableButton" href="javascript:void(0)" class="exceptionButtons">Vorzeitig beenden</a>
                                    <a id="sendButton" href="javascript:void(0)" class="exceptionButtons">Übernehmen</a>
                                    <input type="checkbox" data-property="suppressHibernate" data-writeback="true" class="hibernateFlag" /><span class="editCurrent">Übergang
                                    in den Schlafzustand unterdrücken</span><a href="#faq;hibernation"><img class="linkImage" src="ui/images/info.png" /></a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </fieldset>
            </td>
        </tr>
    </table>
</body>
</html>



