<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
</head>
<body>
    <table>
        <tr id="template">
            <td class="favoriteCount"><a href="#guide" data-clickevent="onExecute" title="In der Programmzeitschrift anzeigen"><span data-property="count()">*</span></a></td>
            <td class="favoriteTitle">
                <span data-property="displayText()">*</span> <a href="javascript:void(0)" class="deleteFavorite" data-clickevent="onDelete">
                    <img class="linkImage" src="ui/images/delete.png" />
                </a>
            </td>
        </tr>
    </table>
</body>
</html>
