<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
</head>
<body>
    <div>
        <div id="template" class="guideFavorites">
            <fieldset>
                <legend>Als Favoriten gespeicherte Suchen</legend>
                <a href="javascript:void(0)" id="addFavorite" class="editButtons">Aktuelle Suche als Favorit hinzufügen</a>
                <div class="inlineHelp">
                    <h3>Erläuterungen zur Bedienung</h3>
                    <div>
                        <p>
                            Die Auswertung der passenden Sendungen erfolgt pro Favorit einmalig und wird verzögert im Hintergrund
                            ausgeführt. Solange diese Berechnung noch nicht abgeschlossen ist, wird als Anzahl ein Bindestrich
                            dargestellt. Unabhängig davon ist es durch Auswahl der Anzahl jederzeit möglich, den Favoriten
                            in die aktuelle Suche zu übernehmen. Darauf hin werden dann in der Liste die passenden
                            Sendungen angezeigt.
                        </p>
                        <p>
                            Ein Favorit kann durch das Symbol<img class="linkImage" src="ui/images/delete.png" />
                            rechts neben der Beschreibung jederzeit gelöscht werden. Dieser
                            Vorgang wird unmittelbar und unwiederbringlich ohne weitere Rückfrage ausgeführt.
                        </p>
                        <p>
                            Eine Suchbedingung kann nur dann als neuer Favorit angelegt werden, wenn der Suchtext nicht leer ist -
                            ansonsten ist die zugehörige Schaltfläche ausgeblendet. Eine eventuell aktive Vorauswahl des
                            Startzeitpunktes wird grundsätzlich nicht in den Favoriten übernommen.
                        </p>
                    </div>
                </div>
                <div id="favoritesContainer">
                    <div>
                        <table>
                            <tbody id="favoriteList"></tbody>
                        </table>
                    </div>
                </div>
            </fieldset>
        </div>
    </div>
</body>
</html>
