<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
</head>
<body>
    <table>
        <tr id="template">
            <td colspan="6" class="spanExpando">
                <div class="guideInGuide">
                    <div id="planRowProgramGuide" class="invisible">
                    </div>
                    <div class="guideSpacing">
                        <div data-property="inactiveClass" data-attribute="class">
                            <a id="createNew" href="#edit" class="optionButton">Aufzeichnung anlegen</a>(zum Auftrag:
                                <select id="selJob">
                                    <option value="*">(neuen Auftrag anlegen)</option>
                                </select>)
                        </div>
                    </div>
                </div>
            </td>
        </tr>
    </table>
</body>
</html>
