<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
</head>
<body>
    <table>
        <tr id="template">
            <td class="startColumn" data-property="displayStart">*</td>
            <td class="endColumn" data-property="displayEnd">*</td>
            <td class="sourceColumn" data-property="station">*</td>
            <td class="nameColumn" colspan="3"><a href="javascript:void(0)" data-property="name" data-clickevent="showDetails">*</a></td>
        </tr>
    </table>
</body>
</html>
