<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
</head>
<body>
    <table>
        <tr id="template">
            <td colspan="3" class="spanExpando">
                <div>
                    <fieldset>
                        <legend>Detailinformationen</legend>
                        <table>
                            <tbody>
                                <tr>
                                    <td>Beginn:</td>
                                    <td data-property="displayStart">*</td>
                                </tr>
                                <tr>
                                    <td>Ende:</td>
                                    <td data-property="fullEnd">*</td>
                                </tr>
                                <tr>
                                    <td>Quelle:</td>
                                    <td data-property="displaySource">*</td>
                                </tr>
                                <tr>
                                    <td>Größe:</td>
                                    <td data-property="sizeHint">*</td>
                                </tr>
                                <tr>
                                    <td>Primäre Datei:</td>
                                    <td id="primaryFile" data-property="primaryFile">*</td>
                                </tr>
                                <tr>
                                    <td>Datei ansehen:</td>
                                    <td id="files"></td>
                                </tr>
                            </tbody>
                        </table>
                    </fieldset>
                </div>
            </td>
        </tr>
    </table>
</body>
</html>
