<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
</head>
<body>
    <table>
        <tr id="template">
            <td class="planItemMode">
                <img data-property="mode" data-property-required="true" data-format="ui/images/##value##.gif" data-attribute="src" src="ui/images/null.gif" /></td>
            <td data-property="displayStart" data-target="a"><a data-property="detailsLink" data-attribute="href" data-clickevent="showDetails">*</a></td>
            <td data-property="displayEnd">*</td>
            <td data-property="station">*</td>
            <td class="planName" data-property="fullName" data-target="#editAnchor"><a id="editAnchor" data-property="editLink" data-attribute="href">*</a></td>
            <td class="planException">
                <img class="exceptionImage" data-property="exceptionMode" data-property-required="true" data-format="ui/images/##value##.png" data-attribute="src" src="ui/images/null.gif" data-clickevent="showExceptions" /></td>
            <td data-property="profile">*</td>
        </tr>
    </table>
</body>
</html>
