<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
</head>
<body>
    <table>
        <tr id="template">
            <td>&nbsp;</td>
            <td colspan="6" class="spanExpando">
                <div class="recordingOptions">
                    <strong>Aufzeichnungsoptionen:</strong><a href="#faq;filecontents"><img class="linkImage" src="ui/images/info.png" /></a>
                    <span data-property="allAudio" data-attribute="class">Alle Sprachen</span>,
                        <span data-property="dolby" data-attribute="class">Dolby Digital</span>,
                        <span data-property="videoText" data-attribute="class">Videotext</span>,
                        <span data-property="subTitles" data-attribute="class">DVB-Untertitel</span>,
                        <span data-property="currentGuide" data-attribute="class">Programminformationen</span>
                    <br />
                    <span><strong>Programmzeitschrift: </strong>
                        <span data-property="hasGuideEntry" data-attribute="class"><a id="guideLink" data-property="guideLink" data-attribute="href" data-clickevent="showGuide">wird abgerufen</a></span></span>
                </div>
                <div id="planRowProgramGuide" class="invisible">
                </div>
            </td>
        </tr>
    </table>
</body>
</html>
