<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
</head>
<body>
    <table>
        <tr id="template">
            <td class="scanColumn"><span class="validatingCheckbox" data-property="active" data-target="input">
                <input type="checkbox" /></span></td>
            <td><span data-property="name">&nbsp;</span></td>
            <td class="scanColumn">
                <input type="text" size="4" data-property="priority" /></td>
            <td class="scanColumn">
                <input type="text" size="4" data-property="ciLimit" /></td>
            <td class="scanColumn">
                <input type="text" size="4" data-property="sourceLimit" /></td>
        </tr>
    </table>
</body>
</html>
