<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
</head>
<body>
    <ul>
        <li id="template" class="taskStarter">
            <fieldset>
                <legend class="invisible" />
                <div>
                    Hier ist es nun möglich, die Aktualisierung der Quellen der vom VCR.NET Recording Service verwalteten
                DVB.NET Geräte anzufordern. Da die Aktualisierung der Quellen eine niedrigere Priorität besitzt als
                die Ausführung regulärer Aufzeichnungen kann es sein, dass sie nicht unmittelbar gestartet wird.
                Der VCR.NET Recording Service wird dies aber bei nächster Gelegenheit nachholen.<a href="#faq;tasks"><img class="linkImage" src="ui/images/info.png" /></a>
                </div>
                <a href="javascript:void(0)" data-clickevent="startUpdate" class="editButtons">Aktualisierung anfordern</a>
            </fieldset>
        </li>
    </ul>
</body>
</html>
