<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
</head>
<body>
    <ul>
        <li id="template" class="taskStarter">
            <fieldset>
                <legend class="invisible" />
                <div>
                    Mit der Schaltfläche unter diesem Text kann eine baldmögliche Aktualisierung der 
                Programmzeitschrift<a href="#faq;epg"><img class="linkImage" src="ui/images/info.png" /></a>
                    angefordert werden. Sind gerade Aufzeichnungen aktiv oder in nächster Zeit geplant, so wird der VCR.NET
                Recording Service die Aktualisierung auf den nächstmöglichen Zeitpunkt verschieben, da die Ausführung
                regulärer Aufzeichnungen immer Priorität vor allen Aktualisierungen 
                hat.<a href="#faq;tasks"><img class="linkImage" src="ui/images/info.png" /></a>
                </div>
                <a href="javascript:void(0)" data-clickevent="startUpdate" class="editButtons">Aktualisierung anfordern</a>
            </fieldset>
        </li>
    </ul>
</body>
</html>
