@import "../../content/vars";

.vcrnet-admin {
    padding: 4px;
    width: 90%;

    > .vcrnet-admin-tabs {
        > div {
            float: left;

            &:nth-child(1) {
                > div {
                    margin: 10px;
                    border: 1px solid black;
                    border-radius: 4px;
                    box-shadow: gray 2px 1px;

                    &:hover {
                        background: lightgray;
                    }

                    &[data-jmslib-checked="yes"] {
                        background: lightgray;

                        a {
                            cursor: default;
                        }
                    }

                    a {
                        color: black;
                        display: block;
                        text-decoration: none;
                        padding: 4px 8px;
                    }
                }
            }

            &:nth-child(2) {
                margin: 0px 20px;

                h2 {
                    margin: 10px 0 0 0;
                }
            }

            &:nth-child(3) {
                clear: both;
                float: none;
            }
        }
    }
}

@import "admin/devices.scss";
@import "admin/directories.scss";
@import "admin/guide.scss";
@import "admin/other.scss";
@import "admin/rules.scss";
@import "admin/security.scss";
@import "admin/sources.scss";
