.vcrnet-devices {
    > table {
        width: 80%;
        white-space: nowrap;

        > thead > tr {
            > td:nth-child(1) {
                width: 20px;
            }

            > td:nth-child(2) {
                width: 11rem;
            }

            > td:nth-child(3) {
                width: 4rem;
            }

            > td:nth-child(4) {
                width: 20rem;
            }
        }
    }
}

@import "devices/entry";
@import "devices/guide";
@import "devices/control";
