.vcrnet-edit {
    .vcrnet-inline-help table {
        margin: 10px;

        > tbody {
            > tr {
                &:nth-child(2n+1) {
                    font-weight: bold;
                }

                &:nth-child(2n+2) > td {
                    padding-left: 20px;
                }
            }
        }
    }
}

@import "edit/job.scss";
@import "edit/channel.scss";
@import "edit/duration.scss";
@import "edit/schedule.scss";
@import "edit/exception.scss";
@import "edit/channelFlags.scss";

