.vcrnet-edit {
    .vcrnet-inline-help table {
        margin: 10px;

        > tbody {
            > tr {
                &:nth-child(2n+1) {
                    font-weight: bold;
                }

                &:nth-child(2n+2) > td {
                    padding-left: 2rem;
                }
            }
        }
    }

    .vcrnet-editfield > div:first-child {
        width: 12rem;
    }

    fieldset.vcrnet-edit-exception > table > tbody > tr > td:first-child {
        text-align: center;
    }

    > div:last-child > .jmslib-command:not(:last-child) {
        margin-right: 6px;
    }
}

@import "edit/job";
@import "edit/channel";
@import "edit/duration";
@import "edit/schedule";
@import "edit/exception";
@import "edit/channelFlags";
