@import "../../content/vars";

.vcrnet-guide {
    > form {
        > fieldset, select, button {
            font-size: small;
        }

        button {
            font-size: x-small;
        }
    }

    .vcrnet-editfield {
        display: inline-block;
        margin-right: 10px;

        > div:first-child {
            margin-right: 4px;
            width: auto;
        }
    }

    > table {
        width: 80%;

        > tbody > tr {
            > td:nth-child(1) {
                width: 11rem;
            }

            > td:nth-child(2) {
                width: 4rem;
            }

            > td:nth-child(3) {
                width: 20rem;
            }
        }
    }
}
