.vcrnet-jobs {
    .jmslib-editbuttonlist{
        font-size: small;
        margin: 0 0 2px 2px;

        > .jmslib-command{
            &:first-child{
                border-top-right-radius: 0;
                border-bottom-right-radius: 0;
            }

            &:last-child{
                border-top-left-radius: 0;
                border-bottom-left-radius: 0;
            }
        }
    }

    > fieldset {
        width: 90%;

        > div {
            margin-top: 10px;

            > div:first-child {
                font-size: large;
                font-weight: bold;
            }

            > .jmslib-internalLink {
                display: block;
                margin-left: 10px;
            }
        }

        > div:last-child {
            margin-bottom: 10px;
        }
    }
}
