.vcrnet-log {
    .vcrnet-editfield > div:first-child {
        margin-right: 5px;
        width: auto;
    }

    > table {
        width: 80%;
        white-space: nowrap;

        > thead > tr {
            > td:nth-child(1) {
                width: 11rem;
            }

            > td:nth-child(2) {
                width: 4rem;
            }
        }
    }
}

@import "log/details";