.vcrnet-log {
    > form {
        font-size: small;
        margin-bottom: 6px;

        > .vcrnet-editfield {
            .jmslib-editlist {
                margin-left: 5px;
            }
        }

        .jmslib-command {
            margin-left: 6px;
        }
    }

    > table {
        width: 80%;
    }
}

@import "log/details";
