@import "../constants";

$indent: 1.5rem;
$labelIndent: 4px;

.vcrnet-settings {
    > form {
        .vcrnet-editfield {
            margin-left: $indent;

            > div:first-child {
                margin-right: $labelIndent;
            }

            &:not(:first-of-type) {
                margin-top: $editLineSpacing;
            }
        }

        .vcrnet-settings-field {
            margin-left: $indent;
            margin-top: $editLineSpacing;

            > .jmslib-editflag:not(:last-child) {
                margin-right: $labelIndent;
            }
        }

        .jmslib-editlist {
            margin-left: $labelIndent;
        }

        > div:last-child {
            margin-top: $editLineSpacing;
        }
    }
}
