@import "../../lib.react/constants";

.vcrnet-planexception {
    @include no-select();

    > table {
        width: 100%;

        > tbody > tr {
            > td:nth-child(1) {
                width: 10rem;
            }

            > td:nth-child(2) {
                width: 12rem;
            }

            > td.vcrnet-planexception-discard {
                color: red;
            }
        }
    }
}
