.vcrnet-planguide {
    > div {
        font-size: small;

        > span:first-child {
            font-weight: bold;
        }

        > .vcrnet-helpLink {
            margin-right: 10px;
        }
    }

    > fieldset {
        margin-top: 10px;
        padding: 10px;
    }

    .vcrnet-guideentryinfo {
        margin-top: 10px;
    }

    .vcrnet-optionoff {
        text-decoration: line-through;
    }
}
