<?xml version="1.0" encoding="UTF-8"?>

<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
	<Fragment>

    <!-- Die .NET Installationserweiterung wird in das CAB des MSI eingebettet und nicht lokal installiert. -->
    <Binary Id="INSTALLERDLL" SourceFile="$(var.InstallerActions.TargetPath)" />

    <!-- Übertragen von Installationsparameter in die Übergabeparameter der .NET Installationserweiterung. -->
    <CustomAction Id="MIGRATEDATA" Return="check" Property="MIGRATE" Value="ROOTDIR=[INSTALLFOLDER]" />

    <!-- Aktualiserung der Konfiguration des Dienstes gemäß dem aktuellen Stand unterstützter Parameter. -->
    <CustomAction
        BinaryKey="INSTALLERDLL"
        DllEntry="MigrateConfiguration"
        Execute="deferred"
        Impersonate="no"
        Return="check"
        Id="MIGRATE"
    />

    <!-- Die VCR.NET Überwachung hingegen muss im Kontext des Anwenders gestartet werden. -->
    <CustomAction
        ExeCommand="[TOOLS]$(var.ControlCenter.TargetName).exe /install"
        Return="asyncNoWait"
        Impersonate="yes"
        Directory="TOOLS"
        Execute="commit"
        Id="STARTVCC"
    />

  </Fragment>
</Wix>