<?xml version="1.0" encoding="UTF-8"?>

<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi" xmlns:util="http://schemas.microsoft.com/wix/UtilExtension">
  <Fragment>
    
    <ComponentGroup Id="Service">

      <Component Id="WebConfiguration" Directory="INSTALLFOLDER">
        <File Id="WebConfig" Source="$(var.WebClient41.ProjectDir)Web.config" />

        <util:XmlFile 
            Id="AspNetTempDir"
            File="[#WebConfig]"
            SelectionLanguage="XPath"  
            ElementPath="configuration/system.web/compilation" 
            Name="tempDirectory" 
            Action="setValue" 
            Value="[INSTALLFOLDER]AspNetTemp" 
            Permanent="yes" />
      </Component>
      
      <!-- Installation des VCR.NET Recording Service Windows Dienstes. -->
      <Component Id="ServiceInstall" Directory="BIN">

        <!-- Installation der Dienstdatei. -->
        <File Source="$(var.Service.TargetPath)" KeyPath="yes" />
        <File Source="$(var.Service.TargetPath).config" />

        <!-- Installation des Dienstes. -->
        <ServiceInstall
            Description="!(loc.SERVICEDESCRIPTION)"
            DisplayName="!(loc.SERVICENAME)"
            Name="VCR.NET Service"
            Account="LocalSystem"
            ErrorControl="normal"
            Type="ownProcess"
            Start="demand"
            Vital="yes">
          <ServiceDependency Id="HTTP"/>
        </ServiceInstall>

        <!-- Wird nur gezielt aktiviert -->
        <ServiceControl Id="SERVICESTART" Start="install" Wait="yes" Name="VCR.NET Service" />

        <!-- De facto die Deinstallation des Dienstes. -->
        <ServiceControl Id="SERVICEUNINSTALL" Stop="both" Remove="uninstall" Wait="yes" Name="VCR.NET Service" />
        
      </Component>
      
    </ComponentGroup>
    
  </Fragment>
</Wix>