<?xml version="1.0" encoding="UTF-8"?>

<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi" xmlns:util="http://schemas.microsoft.com/wix/UtilExtension">
  <Fragment>
    
    <ComponentGroup Id="Service">

      <Component Id="WebConfiguration" Directory="INSTALLFOLDER">
        <File Id="WebConfig" Source="$(var.WebClient41.ProjectDir)Web.config" />

        <util:XmlFile 
            Id="AspNetTempDir"
            File="[#WebConfig]"
            SelectionLanguage="XPath"  
            ElementPath="configuration/system.web/compilation" 
            Name="tempDirectory" 
            Action="setValue" 
            Value="[INSTALLFOLDER]AspNetTemp" 
            Permanent="yes" />
      </Component>
      
      <!-- Installation des VCR.NET Recording Service Windows Dienstes. -->
      <Component Id="ServiceInstallOnDemandStart" Directory="BIN" Guid="eb3e209e-2c57-4c46-94da-ca90a399396c">
        <Condition><![CDATA[NOT (AUTOSTARTMODE = "1")]]></Condition>
        
        <!-- Installation der Dienstdatei. -->
        <File Id="OnDemandServiceExecutable" Source="$(var.Service.TargetPath)" KeyPath="yes" />
        <File Id="OnDemandServiceConfiguration" Source="$(var.Service.TargetPath).config" />

        <!-- Installation des Dienstes. -->
        <ServiceInstall
            Description="!(loc.SERVICEDESCRIPTION)"
            DisplayName="!(loc.SERVICENAME)"
            Id="SERVICEINSTALLDEMANDSTART"
            Name="VCR.NET Service"
            Account="LocalSystem"
            ErrorControl="normal"
            Type="ownProcess"
            Start="demand"
            Vital="yes">
          <ServiceDependency Id="HTTP"/>
        </ServiceInstall>

        <ServiceControl Id="SERVICECONTROLDEMANDSTART" Start="install" Stop="both" Remove="uninstall" Wait="yes" Name="VCR.NET Service" />
        
      </Component>

      <!-- Installation des VCR.NET Recording Service Windows Dienstes. -->
      <Component Id="ServiceInstallAutoStart" Directory="BIN" Guid="efb08fe3-2077-4d18-913b-796228d79c9f">
        <Condition><![CDATA[AUTOSTARTMODE = "1"]]></Condition>

        <!-- Installation der Dienstdatei. -->
        <File Id="AutoStartServiceExecutable" Source="$(var.Service.TargetPath)" KeyPath="yes" />
        <File Id="AutoStartServiceConfiguration" Source="$(var.Service.TargetPath).config" />

        <!-- Installation des Dienstes. -->
        <ServiceInstall
            Description="!(loc.SERVICEDESCRIPTION)"
            DisplayName="!(loc.SERVICENAME)"
            Id="SERVICEINSTALLAUTOSTART"
            Name="VCR.NET Service"
            Account="LocalSystem"
            ErrorControl="normal"
            Type="ownProcess"
            Start="auto"
            Vital="yes">
          <ServiceDependency Id="HTTP"/>
        </ServiceInstall>

        <ServiceControl Id="SERVICECONTROLAUTOSTART" Start="install" Stop="both" Remove="uninstall" Wait="yes" Name="VCR.NET Service" />

      </Component>

    </ComponentGroup>
    
  </Fragment>
</Wix>