<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
  <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
   <section name="EasyCut.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
  </sectionGroup>
  <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
   <section name="EasyCut.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </sectionGroup>
 </configSections>
 <appSettings>
		<add key="SUB" value="EasyCut.SUBCutter, EasyCut"/>
		<add key="SUP" value="EasyCut.SUPCutter, EasyCut"/>
	</appSettings>
 <userSettings>
  <EasyCut.Properties.Settings>
   <setting name="Framerate" serializeAs="String">
    <value>25</value>
   </setting>
   <setting name="SubtitlePage" serializeAs="String">
    <value>150</value>
   </setting>
   <setting name="Threshold" serializeAs="String">
    <value>0</value>
   </setting>
   <setting name="Version" serializeAs="String">
    <value>0.0</value>
   </setting>
   <setting name="GfDFolder" serializeAs="String">
    <value />
   </setting>
   <setting name="MuxDefault" serializeAs="String">
    <value>False</value>
   </setting>
  </EasyCut.Properties.Settings>
 </userSettings>
 <applicationSettings>
  <EasyCut.Properties.Settings>
   <setting name="SUPLogPath" serializeAs="String">
    <value />
   </setting>
  </EasyCut.Properties.Settings>
 </applicationSettings>
</configuration>
