<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="DVBNETViewer.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <userSettings>
    <DVBNETViewer.Properties.Settings>
      <setting name="Location" serializeAs="String">
        <value>0, 0, 0, 0</value>
      </setting>
      <setting name="Priority" serializeAs="String">
        <value>High</value>
      </setting>
      <setting name="FullScreen" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="OSDLifeTime" serializeAs="String">
        <value>5</value>
      </setting>
      <setting name="LocalStation" serializeAs="String">
        <value />
      </setting>
      <setting name="LocalAudio" serializeAs="String">
        <value />
      </setting>
      <setting name="VCRProfile" serializeAs="String">
        <value />
      </setting>
      <setting name="UseRadio" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="UseTV" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="PayTV" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="FreeTV" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="VCRStation" serializeAs="String">
        <value />
      </setting>
      <setting name="VCRAudio" serializeAs="String">
        <value />
      </setting>
      <setting name="Volume" serializeAs="String">
        <value>0.5</value>
      </setting>
      <setting name="RecordingDirectory" serializeAs="String">
        <value />
      </setting>
      <setting name="BroadcastIP" serializeAs="String">
        <value />
      </setting>
      <setting name="BroadcastPort" serializeAs="String">
        <value>2910</value>
      </setting>
      <setting name="FirstStart" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="DVBNETViewer_FullServer_VCR30Server" serializeAs="String">
        <value>http://localhost/VCR.NET/VCRServer.asmx</value>
      </setting>
      <setting name="UseCyberlinkCodec" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="H264Decoder" serializeAs="String">
        <value />
      </setting>
      <setting name="MPEG2Decoder" serializeAs="String">
        <value />
      </setting>
      <setting name="AC3Decoder" serializeAs="String">
        <value />
      </setting>
      <setting name="MP2Decoder" serializeAs="String">
        <value />
      </setting>
      <setting name="OverwriteVideoSettings" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="VideoSaturation" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="VideoHue" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="VideoBrightness" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="VideoContrast" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="ManualOSDLegacyMode" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="OSDLegacyMode" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="HideCursor" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="UseRemote" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="Version" serializeAs="String">
        <value>0.0</value>
      </setting>
    </DVBNETViewer.Properties.Settings>
  </userSettings>
  <appSettings>
    <add key="TS.PCRDelay" value="90000" />
    <add key="TS.VideoDelay" value="-60000" />
    <add key="TS.DisableHDTVPCR" value="False"/>
    <add key="TS.DisableSDTVPCR" value="False"/>
    <add key="Multicast.TTL" value="1" />
    <add key="BDARegisterGraph" value="False"/>
    <add key="TSStatistics" value="False" />
    <add key="UseCyberLink" value="True"/>
    <add key="RestartInterval" value="2"/>
    <add key="RestartTrigger" value="2"/>
    <add key="MaximumAheadTime" value="1"/>
    <add key="ChunkSize" value="2000000"/>
    <add key="BDALogging" value="False"/>
  </appSettings>
</configuration>