.vcrnet-logentrydetails {
    > fieldset {
        > legend {
            font-size: small;
            font-weight: bold;
        }

        > table > tbody > tr:not(:last-child) > td {
            padding-bottom: 4px;
        }
    }
}
