$commandBorderColor: #c5c5c5;
$commandBackgroundColor: #f6f6f6;
$commandHoverBorderColor: #c0c0c0;
$commandHoverBackgroundColor: #ededed;
$commandActiveBackgroundColor: #d8d8d8;

$textErrorColor: red;

$buttonSpacing: 6px;