.jmslib-details {
    > td {
        &:last-child {
            width: 0;

            &:not(:first-child) {
                border-left-width: 0;
            }
        }

        &:first-child:not(:last-child) {
            border-right-width: 0;
        }
    }
}
