@import "constants";

@import "router";
@import "timebar";
@import "detailRow";

@import "command/button";
@import "command/toggle";
@import "command/pictogram";
@import "command/externalLink";
@import "command/internalLink";

@import "edit/list";
@import "edit/multiList";
@import "edit/buttonList";
@import "edit/multiButtonList";

@import "edit/text/text";
@import "edit/text/textarea";

@import "edit/boolean/flag";

@import "edit/number/slider";
@import "edit/number/number";

@import "edit/datetime/day";
@import "edit/datetime/time";

// Wird eine Liste von Schaltflächen angezeigt, so kann diese Klasse verwendet werden, um die einzelnen Schaltflächen zusammen zu kleben.
.jmslib-command-mergelist > .jmslib-command {
    &:not(:last-child) {
        border-right-width: 0;
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
    }

    &:not(:first-child) {
        margin-left: 0;
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
    }
}

// Der Titel (Tooltip) wird für die Anzeige von Fehlersituationen verwendet, das verstärken wird noch durch einen roten Rahmen.
.jmslib-validatable:not([title=""]) {
    border: 2px solid $textErrorColor;
    outline: none;
}
