@import "constants.scss";

$darkBorder: darken($commandHoverBorderColor, 10%);
$innerHeigth: 17px;
$radius: 4px;

.jmslib-timebar {
    height: $innerHeigth + 6px;
    position: relative;
    width: 90%;

    > div:first-child {
        height: $innerHeigth;
        position: relative;
        width: 100%;
        top: 2px;
        left: 0;

        > div {
            border: 1px solid $commandHoverBorderColor;
            box-shadow: $darkBorder 1px 1px;
            display: inline-block;
            position: absolute;
            height: 100%;
            left: 0;
            top: 0;

            &.jmslib-timebar-good {
                background: lightgreen;
            }

            &.jmslib-timebar-bad {
                background-color: #ffff70;
            }

            &:not(.jmslib-timebar-good):not(.jmslib-timebar-bad) {
                background: white;
            }

            &:first-child {
                border-top-left-radius: $radius;
                border-bottom-left-radius: $radius;
            }

            &:last-child {
                border-top-right-radius: $radius;
                border-bottom-right-radius: $radius;
            }
        }
    }

    > div:last-child {
        border: 2px solid $darkBorder;
        height: $innerHeigth + 3px;
        background: white;
        border-radius: 2px;
        position: absolute;
        width: 3px;
        left: 0;
        top: 0;
    }
}
