<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="FTPWrap.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="FTPWrap.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <FTPWrap.Properties.Settings>
            <setting name="SecondsToWaitForEnd" serializeAs="String">
                <value>-1</value>
            </setting>
            <setting name="Version" serializeAs="String">
                <value>0.0</value>
            </setting>
        </FTPWrap.Properties.Settings>
    </userSettings>
    <applicationSettings>
        <FTPWrap.Properties.Settings>
            <setting name="LogDirectory" serializeAs="String">
                <value />
            </setting>
        </FTPWrap.Properties.Settings>
    </applicationSettings>
</configuration>