<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="TVBrowserPlugIn.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <TVBrowserPlugIn.Properties.Settings>
            <setting name="PreTime" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="PostTime" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="TVBrowserPlugIn_VCRNETService_VCRServer30" serializeAs="String">
                <value>http://localhost/vcr.net/vcrserver.asmx</value>
            </setting>
            <setting name="VCRNETNames" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string>RTL Television [RTL World]</string>
                    </ArrayOfString>
                </value>
            </setting>
            <setting name="ExternalNames" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string>RTL</string>
                    </ArrayOfString>
                </value>
            </setting>
            <setting name="ShowConfirmation" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Version" serializeAs="String">
                <value>0.0</value>
            </setting>
        </TVBrowserPlugIn.Properties.Settings>
    </userSettings>
</configuration>