// Die Farbe der Umrandung für den Aufzeichnungsbereich.
$guidePlanBorderColor:#999999;

// Die Rundung des Aufzeichnungsbereichs.
$guidePlanBorderRadius:4px;

// Die Höhe der Überlappanzeige.
$guideInnerHeigth:1em;

// Markierung fehlerhafter Eingaben.
.invalid {
    border: 2px solid red;
}

// Besondere Behandlung von Umschaltern für FireFox.
.validatingCheckbox {
    padding-top: 4px;
}

// Die durchgängig verwendete Technik zum Ausblenden von visuellen Elementen.
.invisible {
    display: none;
}

// Ausblenden ohne die visuelle Struktur zu verändern.
.hidden {
    visibility: hidden;
}

// Markierung kritischer Eingaben.
.warning {
    font-weight: bold;
    color: red;
}

// Für die eingebettet Hilfe wird ein leicht veränderter Zeichensatz verwendet, um die
// Hilfetexte von der eigentlichen Anwendung abzuheben. Ebenso sind Hilfetext leicht
// innerhalb der jeweiligen Anwendungsseite eingerückt.
.inlineHelp {
    font-size: 16px !important;
    margin: 10px 10px 10px 10px !important;
    width: 80% !important;

    .ui-accordion-header {
        font-size: 12px;
    }
}

// Der Bereich, der in der Programmzeitschrift den Überlapp mit der Aufzeichnung anzeigt.
.guideOverlap {
    position: absolute;
    top: 0.2 * $guideInnerHeigth;
    height: $guideInnerHeigth;
    width: 100%;

    div:first-child {
        border-bottom-left-radius: $guidePlanBorderRadius;
        border-top-left-radius: $guidePlanBorderRadius;
        border-left-width: 1px;
    }

    div:last-child {
        border-bottom-right-radius: $guidePlanBorderRadius;
        border-top-right-radius: $guidePlanBorderRadius;
        border-right-width: 1px;
    }

    div {
        box-shadow: 1px 1px 1px $guidePlanBorderColor;
        border-color: $guidePlanBorderColor;
        border-width: 1px 0px 1px;
        height: $guideInnerHeigth;
        border-style: solid;
        position: relative;
        display: inline;
        float: left;
    }
}

// Die Markierung der aktuellen Zeit.
.guideCurrentTime {
    position: absolute;
    height: 1.4 * $guideInnerHeigth;
    width: 1px;
    border: 1px solid $guidePlanBorderColor;
    border-radius: 2px;
    background-color: white;
}

// Erlaubt uns das Einblenden der aktuellen Uhrzeit über die Überlappanzeige.
.guideOverlapWithTime {
    height: 1.4 * $guideInnerHeigth;
    position: relative;
}

// Der Anfang der Überlappungsanzeige.
.guideOutsidePlanLeft {
    border-right-width: 1px !important;
}

// Das Ende der Überlappungsanzeige.
.guideOutsidePlanRight {
    border-left-width: 1px !important;
}

// Meldet, dass eine Aufzeichnung den Eintrag in der Programmzeitschrift überdeckt.
.guideInsidePlan {
    background-color: #89fc85;
}

// Meldet, dass eine Aufzeichnung den Eintrag in der Programmzeitschrift nicht vollständig erfasst.
.guideOutsidePlan {
    background-color: #f2f236;
}

// Der Bereich der Aufzeichnung, der anderes als die Sendung aufzeichnet.
.planOutsideGuide {
    background-color: #eeeeee;
}
