// Markierung fehlerhafter Eingaben.
.invalid
{
    border: 2px solid red;
}

// Besondere Behandlung von Umschaltern für FireFox.
.validatingCheckbox
{
    padding-top: 4px;
}

// Die durchgängig verwendete Technik zum Ausblenden von visuellen Elementen.
.invisible
{
    display: none;
}

// Markierung kritischer Eingaben.
.warning
{
    font-weight: bold;
    color: red;
}

// Für die eingebettet Hilfe wird ein leicht veränderter Zeichensatz verwendet, um die
// Hilfetexte von der eigentlichen Anwendung abzuheben. Ebenso sind Hilfetext leicht
// innerhalb der jeweiligen Anwendungsseite eingerückt.
.inlineHelp
{
    font-size: 16px !important;
    margin: 10px 10px 10px 10px !important;
    width: 80% !important;

    .ui-accordion-header
    {
        font-size: 12px;
    }
}

