// Wir geben unserer Titelzeile etwas mehr Platz
.wideHeader {
    margin-left: 5% !important;
    margin-right: 5% !important;
}

// Textsegmente, die nicht umgebrochen werden sollen
.breakContainer {
    overflow: hidden;
}

.noBreak {
    white-space: nowrap;
}

// Die Einträge aus der Programmzeitschrift sind eventuell schon vorformatiert
.guideDescription {
    white-space: pre-wrap;
    margin-top: 1em;
}

.guideDetails {
}
