// Die Farbe der Umrandung für den Aufzeichnungsbereich.
$guidePlanBorderColor:#999999;

// Die Rundung des Aufzeichnungsbereichs.
$guidePlanBorderRadius:4px;

// Die Höhe der Überlappanzeige.
$guideInnerHeigth:1em;

// Die Hintergrundfarbe der als Listeneinträge in den Tabellen.
$tableRowColor: #e0e0e0;

// Die Kopfzeile aller unsere Tabellen ist etwas dunkler als die einzelnen Listeneinträge.
$tableHeaderRowColor: #cccccc;

// Die Farbe des Rahmens für die Anzeige logisch getrennter Bereiche auf einer Seite der Anwendung.
$softBorderColor: #ccc;

// Die Hintergrundfarbe für Trennlinien und den Sprungbereich.
$lineBackgroundColor: #ddd;

// Die Hintergrundfarbe des Anwendung.
$background: #f4f4f4;

// Der Zeichensatz der Anwendung.
$font: Verdana, Arial, sans-serif;

// Die Farbe aller Verweise in allen Zuständen.
$linkColor: #0000ff;
$linkColorHome: #0000a0;

// Diese Farbe markiert eine Schaltfläche, deren Aktion nicht ausgeführt werden konnte.
$updateFailedColor: darkred;

// Die veränderte Rahmenbreite einer Schaltfläche, deren Aktion nicht ausgeführt werden konnte.
$updateFailedWeight: bolder;

// Wird verwendet um den Anwender kurz auf Änderungen aufmerksam zu machen.
$textHighlightColor: #111111;

// Zeit eine Warnung an.
$warning: #FFFF00;

// Benutzerauswahl deaktivieren.
@mixin no-select {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

