@import "../constants";

.jmslib-command {
    @include no-select();
    border: 1px solid black;
    padding: 0.1rem 0.3rem;
    display: inline-block;
    background: #e8e8e8;
    border-radius: 4px;
    font-size: smaller;

    &[data-jmslib-disabled="yes"] {
        opacity: 0.5;
        cursor: default;
    }

    &:not([data-jmslib-disabled="yes"]) {
        &:hover {
            background: $commandFeedbackColor;
            cursor: pointer;
        }

        &:active {
            background: $commandActiveColor;
        }
    }

    &.jmslib-dangerous {
        font-weight: $warningTextWeight;
        color: $warningTextColor;
    }

    &:not([title=""]) {
        border-color: $errorBorderColor;
    }
}
