@import "../constants";

.jmslib-command {
    @include no-select();
    border: 1px solid $commandBorderColor;
    background: $commandBackgroundColor;
    padding: 0.3rem 0.8rem;
    display: inline-block;
    border-radius: 3px;
    font-size: smaller;
    text-align: center;

    &.jmslib-command-disabled {
        opacity: 0.5;
        cursor: default;
    }

    &.jmslib-command-checked {
        background: $commandActiveBackgrundColor;
    }

    &:not(.jmslib-command-disabled) {
        &:hover {
            cursor: default;

            &:not(.jmslib-command-checked) {
                border-color: $commandHoverBorderColor;
                background: $commandHoverBackgroundColor;
                cursor: pointer;
            }
        }

        &:active {
            background: $commandHoverBorderColor;
        }
    }

    &.jmslib-command-dangerous {
        font-weight: $warningTextWeight;
        color: $warningTextColor;
    }

    &:not([title=""]) {
        border-color: $errorBorderColor;
    }
}
