<?xml version="1.0" encoding="utf-8"?>
<!--
	Some parts of this configuration file is for demonstration purposes only. It is
	strongly recommended to update the settings to fit the local installation. Future
	versions of the VCR.NET Recording Service will allow to configure all dynamic
	settings from within the Web Application.
-->
<configuration>
  <appSettings>
    <!-- Core Operating Parameters -->
    <add key="Profiles" value=""/>
    <add key="LoggingLevel" value="Errors" />
    <add key="TCPPort" value="80" />
    <add key="SSLPort" value="443" />
    <add key="UseSSL" value="False" />
    <add key="AllowBasic" value="False" />
    <!-- Cleanup -->
    <add key="ArchiveLifeTime" value="5" />
    <add key="LogLifeTime" value="5" />
    <!-- Paths -->
    <add key="FileNamePattern" value="%SortableStart% %Job% (%Schedule%)" />
    <add key="AdditionalRecorderPaths" value="" />
    <add key="VideoRecorderDirectory" value="Recordings" />
    <!-- Hibernation -->
    <add key="SuppressDelayAfterForcedHibernation" value="False" />
    <add key="DelayAfterForcedHibernation" value="5" />
    <add key="UseStandByForHibernation" value="True" />
    <add key="UseExternalCardServer" value="True" />
    <add key="MayHibernateSystem" value="False" />
    <add key="HibernationDelay" value="60" />
    <!-- Security -->
    <add key="RequiredAdminRole" value="" />
    <add key="RequiredUserRole" value="" />
    <!-- Source Lists-->
    <add key="MergeScanResult" value="True" />
    <add key="ScanDuration" value="120" />
    <add key="ScanInterval" value="0" />
    <add key="ScanHours" value="18" />
    <add key="ScanJoinThreshold" value="" />    
    <!-- Program Guides -->
    <add key="EPGStations" value="ZDF [ZDFvision]" />
    <add key="EPGIncludeFreeSat" value="False" />
    <add key="EPGHours" value="18" />
    <add key="EPGDuration" value="0" />
    <add key="EPGInterval" value=""/>
    <add key="EPGJoinThreshold" value=""/>
    <!-- Various DVB.NET Settings -->
    <add key="DisablePCRFromMPEG2Generation" value="False"/>
    <add key="DisablePCRFromH264Generation" value="False"/>
    <!-- File Buffering -->
    <add key="TSAudioBufferSize" value="0" />
    <add key="TSSDTVBufferSize" value="0" />
    <add key="TSHDTVBufferSize" value="0" />
  </appSettings>
</configuration>