@import "../lib.react/mixins";
@import "../lib.react/constants";

.vcrnet-inline-help {
    @include no-select();
    width: 80%;
    cursor: default;
    margin: 0.5rem 1rem;

    > h1 {
        padding: 0.25rem 0.25rem 0.25rem 0.5rem;
        border: 1px solid $commandBorderColor;
        background: $commandBackgroundColor;
        font-weight: normal;
        white-space: nowrap;
        border-radius: 2px;
        overflow-x: hidden;
        font-size: 0.8rem;
        cursor: pointer;
        margin: 0;

        &:hover {
            border-color: $commandHoverBorderColor;
            background: $commandHoverBackgroundColor;
        }
    }

    > div {
        border-top: none;
        border-radius: 4px;
        padding: 10px 20px;
        background: white;
        border-top-left-radius: 0;
        border-top-right-radius: 0;
        border: 1px solid $commandBorderColor;
    }
}
