@import "../../content/vars";

.vcrnet-inline-help {
    @include no-select();

    margin: 5px 0;
    cursor: default;

    > h1 {
        border: 1px solid black;
        border-radius: 2px;
        font-weight: normal;
        color: white;
        background: cornflowerblue;
        padding: 4px;
        margin: 0;
        font-size: 0.8rem;
    }

    > div {
        border: 1px solid black;
        border-top: none;
        border-radius: 4px;
        border-top-left-radius: 0;
        border-top-right-radius: 0;
        background: white;
        margin: 0 5rem 0 1rem;
        padding: 10px 20px;
        font-size: 0.9rem;
    }
}
