.vcrnet-navigation {
    background: #dddddd;
    margin-bottom: 1rem;
    border-radius: 4px;
    font-size: smaller;
    padding: 6px 10px;

    .jmslib-internalLink {
        .jmslib-pict {
            margin-right: 2px;
            vertical-align: bottom;
        }

        &:not(:last-child) {
            margin-right: 0.5rem;
        }
    }
}
