<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="VCRControlCenter.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <userSettings>
    <VCRControlCenter.Properties.Settings>
      <setting name="HibernationDelay" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="AutoStartService" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="Language" serializeAs="String">
        <value />
      </setting>
      <setting name="Viewer" serializeAs="String">
        <value />
      </setting>
      <setting name="MulticastIP" serializeAs="String">
        <value />
      </setting>
      <setting name="MinPort" serializeAs="String">
        <value>2910</value>
      </setting>
      <setting name="ViewerArgs" serializeAs="String">
        <value>/TCP={0}:{1}</value>
      </setting>
      <setting name="StartupDelay" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="Version" serializeAs="String">
        <value>0.0</value>
      </setting>
    </VCRControlCenter.Properties.Settings>
  </userSettings>
  <appSettings>
    <add key="IconLogPath" value="" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
</configuration>