<?xml version="1.0" encoding="UTF-8"?>

<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">

  <Fragment>

    <Component Id="Registry" Directory="TARGETDIR" Guid="1f97ac2c-ac74-4424-9572-d9214e8525cf" Win64="no">

      <RegistryValue Root="HKLM" Key="Software\JMS\DVB.NET\4.3.0.0" Type="string" Name="Root Directory" Value='[INSTALLFOLDER]'/>

    </Component>

  </Fragment>

</Wix>