<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="CardServerTester.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <userSettings>
    <CardServerTester.Properties.Settings>
      <setting name="ProfileName" serializeAs="String">
        <value />
      </setting>
      <setting name="UseInMemory" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="Directory" serializeAs="String">
        <value />
      </setting>
    </CardServerTester.Properties.Settings>
  </userSettings>
  <system.diagnostics>
    <switches>
      <add name="ConsumerTrace" value="0"/>
      <add name="TunerTrace" value="0"/>
      <add name="StreamOptimizerTrace" value="0"/>
      <add name="ScannerTrace" value="0"/>
    </switches>
  </system.diagnostics>
</configuration>